[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
mssql-django = "==1.0b1"
celery = "*"
django-celery-results = "*"
sqlalchemy = "*"

[dev-packages]

[requires]
python_version = "3.8"
